ul{
    width: 90%;
    background: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;

}
ul {
    border: 1px solid #efefef;
    border-top: none;
}


li {
    list-style: none;
    margin-bottom: 15px;
}

.img-cont{ 
    display: inline-block;
}
img {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    cursor: pointer;
}

.message-text {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    max-width: 85%;
}

p.message{
    margin: 5px 0;
    word-wrap: break-word;
    font-weight: 300
}

h2.email {
    margin: 5px 0;
    word-wrap: break-word;
    font-size: 20px;
}

// css for last active popup

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    position: absolute;
    z-index: 1;
    top: 0px;
    left: -210%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

//  css for loader 
.lds-ring {
  margin: 60px auto;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #2a98ff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #2a98ff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


